@import "layout/header";
@import "layout/footer";
@import "layout/productosDestacados";


*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Roboto', sans-serif;     
    padding: 0px 50px;
}

@media(max-width: 992px){
    .cabecera__zonaBuscador{
        display: none;
    }     
    .destacados__columna {
        width: 50%;
    }      
}

@media screen and (max-width: 600px) {
    .destacados__columna {
      width: 100%;
    }
  }